<div class="widget">

  <div style="font-family: Impact; font-size: 48px; color: lawngreen">marvin</div>
  <div>This application demonstrates the abilities of modern browsers using an example scenario - visualization and control of
    a robotic rover vehicle.</div>
  <div>Checkout the source code at <a href="https://github.com/oliverhruby/marvin">https://github.com/oliverhruby/marvin</a>.</div>
  <div>&nbsp;</div>
  <div>Keyboard control:<br/>
    <kbd>A</kbd>-left, <kbd>D</kbd>-right, <kbd>W</kbd>-forward, <kbd>S</kbd>-back<br/>
    <kbd>L</kbd>-lights, <kbd>X</kbd>-screenshot</div>
</div>
