/* You can add global styles to this file, and also import other style files */
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  font-size: 11px;
  font-family: 'Lucida Sans';
  color: lawngreen;
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
