/* You can add global styles to this file, and also import other style files */

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: lawngreen;
}

div {
  font-size: 11px;
  font-family: 'Lucida Sans';
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

::-webkit-scrollbar-thumb{
   background-color: rgba(0,0,0,0);
} 

.widget {
  width: 320px;
  border: 1px solid lawngreen;
  background: rgba(0, 0, 0, .5);
  opacity: 0.8;
  margin: 5px;
  padding: 10px;
}

.controls {
  display: inline;
  position: absolute;
  top: 10px;
  left: 10px;
}

.header {
  text-transform: uppercase;
}

/**
 * START - Hyperlinks
 */

/* unvisited link */
a:link {
    color: lightgreen;
}

/* visited link */
a:visited {
    color: lightgreen;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

/**
 * END - Hyperlinks
 */

input {
    background: rgba(0, 0, 0, .5);
    border: 1px solid lawngreen;
    color: lawngreen;
    padding: 3px;
}

/**
 * Bootstrap customization
 */
.btn {
	border-radius: 0px;
  background-color: rgba(0, 80, 0, .5);
  border: 1px solid lawngreen;
  color: lawngreen;
  text-transform: uppercase;
}

pre {
	border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid lawngreen;
  color: lawngreen;
  font-size: 11px;
}
